{% extends "prototipo.html" %}

{% block content %}
{% with messages = get_flashed_messages(category_filter=["campos_add_gastos_bolivares"]) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
    {% endfor %}
    </ul>
  {% endif %}
  
{% endwith %}



{% with messages = get_flashed_messages(category_filter=["monto_gastos_mayor_bolivares"]) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
    {% endfor %}
    </ul>
  {% endif %}
  
{% endwith %}


<div>
<h1>{{cliente}} </h1>
</div>



    <form class="form-signin" action="/confirmacion_gastos/bolivares" method="POST">
    <div class="form-group pago-gastos-bolivares">

      <div class="form-group">
        <h6>Fecha de pago <span>*</span></h6>
      <input type="date" class="form-control" id="fecha" name="fecha" placeholder="fecha"
   value="today"
   min="2018-01-01" max="2060-12-31">
     <!-- <input type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha">-->
    </div>
    <div class="form-group"> 
        <h6>Factura</h6> 
        <input type="text" class="form-control" id="factura" name="factura" placeholder="factura">                  
      </div>
    <div class="form-group"> 
        <h6>Nombre <span>*</span></h6> 
        <input type="text" class="form-control" id="name" name="name" placeholder="nombre">                  
      </div>

      <div class="form-group"> 
        <h6>Decripcion <span>*</span></h6> 
        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion">                  
      </div>

<div class="form-group"> 
    <h6>Monto en Bolivares Bs <span>*</span></h6> 
    <input type="text" class="form-control" id="abono" name="abono" placeholder="Ingrese el monoto del abono">                  
  </div>


  <div class="form-group"> 
    <h6>TASA <span>*</span></h6> 
    <input type="text" class="form-control" id="tasa" name="tasa" placeholder="TASA">                  
  </div>

  <div class="input-group "class="form-group"  >
    <div class="form-producto">
        <h6>Banco <span>*</span></h6>
        <select type="text" class="custom-select list-producto" id="banco" name="banco" >
    </div> 

      {% set glob=namespace() %}
      {% set glob.counter=0 %}
      {% for table in bancos %}

      <option value={{glob.counter}}>{{table}}</option>
    
      {% set glob.counter=glob.counter + 1 %}
      {% endfor %}

        </select>
</div>

<div class="form-group"> 
  <h6>Nª de Referencia <span>*</span></h6> 
  <input type="text" class="form-control" id="referencia" name="referencia" placeholder="referencia">                  
</div>

  
    <div class="form-group">
   
      <button class=" btn btn-sm btn-primary" type="submit">Agregar</button>
     
  </div>
</div>

    </form>





{% endblock%}