{% extends "layout.html" %}

{% block content %}
 <!-- formulario 1
<div  class="form-add-inv">
    <div class="card card-body mp-4 form-gradient">
        <form class="form-signin f" action="/planta_aba" method="POST">
        
          <div class="form-group">   
              <center>            
                  <h3 style="color:#f8fcf8"> Ingresar Inventario</h3>          
              </center>
          </div>

              <div class="input-group mb-3" class="form-group" >
                
                  <select type="text" class="custom-select" id="producto" name="producto" >
                    
                    
                  {% set glob=namespace() %}
                  {% set glob.counter=0 %}
                  {% for table in array_productos %}
                    
                  <option value={{glob.counter}}>{{table}}</option>

                  {% set glob.counter=glob.counter + 1 %}
                  {% endfor %}
                    
                  </select>
              </div>
            

          <div class="form-group">
            <input type="date" class="form-control" id="fecha" name="fecha" placeholder="fecha"
                          value="today"
                          min="2018-01-01" max="2060-12-31">
          
          </div>

          <div class="form-group" >
              <label for="cantidad"><h4>ingrese la cantidad</h4></label>
              <input type="text" class="form-control" id="cantidad" name="cantidad" placeholder="cantidad" onkeypress="return (event.charCode >= 48 && event.charCode <= 57 ||event.charCode==46)">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="proveedor" name="proveedor" placeholder="proveedor">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="num_fact" name="num_fact" placeholder="num_fact">
          </div>
          <div class="form-group">
           <input type="text" class="form-control" id="precio" name="precio" placeholder="precio" onkeypress="return (event.charCode >= 45 && event.charCode <= 57 )">
           
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="propietario" name="propietario" placeholder="propietario">
          </div>

          <center>
            <button class=" btn btn-sm btn-primary" type="submit">Agregar</button>
            </center>
          </div>

        </form>
    </div>
    
  -->
  
   <!-- formulario 2
  <div  class="form-add-inv">
    <div class="card card-body mp-4 form-gradient-inv">
        <form class="form-signin f" action="/planta_aba" method="POST">
        
          <div class="form-group titulo-inv">   
              <center>            
                  <h3 style="color:#f8fcf8"> Ingresar Inventario</h3>          
              </center>
          </div>
    <div class="row">
        <div class="card-fact-inv">
          <div class="form-group form-nun-fact">
            <h4>numero de factura</h4>
            <input type="text" class="form-control" id="num_fact" name="num_fact" >
          </div>
        </div>
      <div class="card-fecha-inv">
        <div class="form-group form-fecha">
            <h4>Fecha</h4>
            <input type="date" class="form-control" id="fecha" name="fecha" "
                        value="today"
                        min="2018-01-01" max="2060-12-31">
        
        </div>
      </div>
</div>

  <div class="row mt-4">
      <div class="card-proveedor">
          <div class="form-group form-proveedor">
            <center>
            <h4>Proveedor</h4></center>
            <input type="text" class="form-control" id="proveedor" name="proveedor">
          </div>
        </div>

        <div class="card-propietario">
        <div class="form-group form-propietario">
          <center>
            <h4>Propietario</h4></center>
          <input type="text" class="form-control" id="propietario" name="propietario">
        </div>
      </div>
  </div>

        
            

<div class="row mt-4">
  <div class="card-descripcion">
      <div class="input-group  class="form-group"  >
                    <div class="form-producto">
                        <h4>Producto</h4>
                        <select type="text" class="custom-select list-producto" id="producto" name="producto" >
                    </div> 

                      {% set glob=namespace() %}
                      {% set glob.counter=0 %}
                      {% for table in array_productos %}

                      <option value={{glob.counter}}>{{table}}</option>
                    
                      {% set glob.counter=glob.counter + 1 %}
                      {% endfor %}

                        </select>
      </div>
            

        

          <div class="form-group form-cantidad" >
              <label for="cantidad"><h4>Cantidad</h4></label>
              <input type="text" class="form-control" id="cantidad" name="cantidad"  onkeypress="return (event.charCode >= 48 && event.charCode <= 57 ||event.charCode==46)">
          </div>

          <div class="form-group form-precio">
            <h4>Precio</h4>
          <input type="text" class="form-control" id="precio" name="precio"onkeypress="return (event.charCode >= 45 && event.charCode <= 57 )">
          </div>


         
  </div>
</div>  


<div class="row">
  <div class="card-comentario">
    <div class="form-group form-comentario">
            <h4>Comentario</h4>
            <input type="text" class="form-control" id="comentario" name="comentario">
    </div> 
  </div> 
</div> 

  <div class="row">
    <div class="card-boton">
    <center>
      <button class=" btn btn-sm btn-primary form-boton" type="submit">Agregar</button>
      </center>
    </div>
  </div>
</div>
  </form>
</div>
  -->
<div class="add-inv">
  <form class="form-signin f" action="/planta_aba" method="POST">
        <div  class="form-add-inv">
          <div class="card card-body mp-4 form-gradient-inv">
             
              
                <div class="form-group titulo-inv">   
                    <center>            
                        <h3 style="color:#f8fcf8"> Ingresar Inventario</h3>          
                    </center>
                </div>
          <div class="row">
              <div class="card-fact-inv">
                <div class="form-group form-nun-fact">
                  <h4>numero de factura</h4>
                  <input type="text" class="form-control" id="num_fact" name="num_fact" >
                </div>
              </div>
            <div class="card-fecha-inv">
              <div class="form-group form-fecha">
                  <h4>Fecha</h4>
                  <input type="date" class="form-control" id="fecha" name="fecha" "
                              value="today"
                              min="2018-01-01" max="2060-12-31">
              
              </div>
            </div>
      </div>

        <div class="row mt-4">
            <div class="card-proveedor">
                <div class="form-group form-proveedor">
                  <center>
                  <h4>Proveedor</h4></center>
                  <select type="text" class="custom-select list-proveedor" id="proveedor" name="proveedor" >
                  </div> 

                    {% set glob=namespace() %}
                    {% set glob.counter=0 %}
                    {% for table in array_proveedores %}

                    <option value={{glob.counter}}>{{table}}</option>
                  
                    {% set glob.counter=glob.counter + 1 %}
                    {% endfor %}

                      </select>
                </div>
              </div>

              <div class="card-propietario">
              <div class="form-group form-propietario">
                <center>
                  <h4>Propietario</h4></center>
                  <select type="text" class="custom-select list-propietario" id="propietario" name="propietario" >
                  </div> 

                    {% set glob=namespace() %}
                    {% set glob.counter=0 %}
                    {% for table in array_propietario %}

                    <option value={{glob.counter}}>{{table}}</option>
                  
                    {% set glob.counter=glob.counter + 1 %}
                    {% endfor %}

                      </select>
              </div>
            </div>
        </div>

              
                  

        <div class="row mt-4">
        <div class="card-descripcion">
            <div class="input-group  class="form-group"  >
                          <div class="form-producto">
                              <h4>Producto</h4>
                              <select type="text" class="custom-select list-producto" id="producto" name="producto" >
                          </div> 

                            {% set glob=namespace() %}
                            {% set glob.counter=0 %}
                            {% for table in array_productos %}

                            <option value={{glob.counter}}>{{table}}</option>
                          
                            {% set glob.counter=glob.counter + 1 %}
                            {% endfor %}

                              </select>
            </div>
                  

              

                <div class="form-group form-cantidad" >
                    <label for="cantidad"><h4>Cantidad</h4></label>
                    <input type="text" class="form-control" id="cantidad" name="cantidad"  onkeypress="return (event.charCode >= 48 && event.charCode <= 57 ||event.charCode==46)">
                </div>

                <div class="form-group form-precio">
                  <h4>Precio</h4>
                <input type="text" class="form-control" id="precio" name="precio"onkeypress="return (event.charCode >= 45 && event.charCode <= 57 )">
                </div>


               
        </div>
        </div>  
    

      <div class="row">
        <div class="card-comentario">
          <div class="form-group form-comentario">
                  <h4>Comentario</h4>
                  <input type="text" class="form-control" id="comentario" name="comentario">
          </div> 
        </div> 
      </div> 
      
        <div class="row">
          <div class="card-boton">
          <center>
            <button class=" btn btn-sm btn-primary form-boton" type="submit">Agregar</button>
            </center>
          </div>
        </div>
  
  </form>








    
<div class=" card tabla-add-inv mt-4">
   <center> <h1> INVENTARIO</h1></center>
    <table class="table table-striped table-hover table-bordered bg-white table-sm  ">
        <thead>
        
          <tr class="table-success ">
    
                                  
            <td  style="text-align: center;" valign="middle"><h5 >PRODUCTO</h5></td>  
            <td  style="text-align: center;" valign="middle"><h5 >CANTIDAD</h5></td>  
           
           <!-- <td style="text-align: center;">Operacion</td>-->
          </tr>
        </thead>
        {% set i_suma=namespace() %}
              {% set i_suma.counter=0 %}
        {% for tab in productos_inv %}
        <tr>
            
    
                <td style="text-align: center;" >{{tab}}</font></td>
                <td style="text-align: center;" >{{productos_suma[i_suma.counter]}}</font></td>
                
            
                <div class="row-md-7">    
         
         <!--     <td>
              <center>
                <a href="/relacion/factura/{{tab.1}}"  class="btn btn-sm btn-success ">Abonar</a>
            </center>
            
        </td>
            <td>
                <center>
                <a href="/delete/{{tab.0}}" class="btn btn-sm btn-danger btn-delete">borrar</a>
                </center>
            </td>
                </div>
            </td>-->
        </tr>
        {% set i_suma.counter=i_suma.counter + 1 %}
        {% endfor %}
        
    
    </table>
</div>

</div>


<script>
  function filtro()
{
var tecla = event.key;
if (["."].includes(tecla))
event.preventDefault()
}
</script>
{% endblock%}