{% extends "prototipo.html" %}

{% block content %}




{% with messages = get_flashed_messages(category_filter=["add_clientes_externos"]) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
    {% endfor %}
    </ul>
  {% endif %}
  
{% endwith %}

<div class="add-inv-cont">

  <form class="form-signin f" action="/clientes_externos_add" method="POST">
  <div  class="form-add-inv">
          <div class="card card-body mp-4 form-gradient-inv">
              
              
                <div class="form-group titulo-inv">   
                    <center>    
                         
                        <h3 style="color:#f0eff3"> Nuevo Cliente Externo</h3>          
                    </center>
                </div>

                <div class="form-group form-nun-fact">
                    <h4>Nombre</h4>
                    <input type="text" class="form-control" id="nombre" name="nombre" >
                  </div>

                  <div class="form-group form-nun-fact">
                  <h4>Rif</h4>
                  <input type="text" class="form-control" id="rif" name="rif" >
                </div>


                <div class="form-group form-nun-fact">
                  <h4>Direccion</h4>
                  <input type="text" class="form-control" id="direccion" name="direccion" >
                </div>



                <div class="form-group">
                    <center>
                      <button class=" btn btn-sm btn-primary" type="submit">Agregar</button>
                      </center>
                  </div>

                 
                  

                  


                  

                 

              
            </div>
        </div>

              
                  

    
    

  
        </form>
  
    </div>

  




<!-- 
    <div class="container">
<div class=" card tabla-add-inv mt-4">
   <center> <h1> INVENTARIO</h1></center>
    <table class="table table-striped table-hover table-bordered bg-white table-sm  ">
        <thead>
        
          <tr class="table-success ">
    
                                  
            <td  style="text-align: center;" valign="middle"><h5 >PRODUCTO</h5></td>  
            <td  style="text-align: center;" valign="middle"><h5 >CANTIDAD</h5></td>  
           
          
          </tr>
        </thead>
        {% set i_suma=namespace() %}
              {% set i_suma.counter=0 %}
        {% for tab in productos_inv %}
        <tr>
            
    
                <td style="text-align: center;" >{{tab}}</font></td>
                <td style="text-align: center;" >{{productos_suma[i_suma.counter]}}</font></td>
                
            
                <div class="row-md-7">    
         
         
        </tr>
        {% set i_suma.counter=i_suma.counter + 1 %}
        {% endfor %}
        
    
    </table>
</div>
</div> 

-->

<script>
  function filtro()
{
var tecla = event.key;
if (["."].includes(tecla))
event.preventDefault()
}
</script>
{% endblock%}