{% extends "layout.html" %}

{% block content %}
<!--<script src="{{url_for('static', filename='js/prueba.js')}}"></script>-->
<!--<script src="{{url_for('static', filename='js/datosgrafico.json')}}"></script>-->
<!--<script src="{{url_for('static', filename='js/texto.txt')}}"></script>-->
<!-- <script src="{{url_for('static', filename='../src/pruebajs.json')}}"></script>-->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->


<div class="row">
  <div class="col-md-3 ">  
   
    <div class="card">
       
    </div>
    
  </div> 
 
    <div class="col-md-8 " >  
   
      <div class="card">
          <canvas id="myChart2" width="120" height="40"></canvas>      
     
      </div>   
    </div>
  </div>  
<div class="p-4"> 
</div> 
  <div class="col-md-3" >  
    <left>

    <div class="card card-body  mp-0">
        <canvas id="myChart3" width="400" height="40"></canvas>      
   
    </div> 
  </left>   
  </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var arradata=new Array();
var a=new Array();
var archivoTxt= new XMLHttpRequest();
var fileRuta='static/js/datosgrafico.json'
//var fileRuta='src/pruebajs.json'
archivoTxt.open("GET",fileRuta,false);
archivoTxt.send(null);
var txt = archivoTxt.responseText;
for(var i=0;i<txt.length;i++){
    arradata.push(txt[i]);
}
var b = JSON.parse(txt)



var arradata2=new Array();
var a2=new Array();
var archivoTxt2= new XMLHttpRequest();
var fileRuta2='static/js/datosgraficox.json'
//var fileRuta='src/pruebajs.json'
archivoTxt2.open("GET",fileRuta2,false);
archivoTxt2.send(null);
var txt2 = archivoTxt2.responseText;
for(var i=0;i<txt2.length;i++){
    arradata2.push(txt2[i]);
}
var x = JSON.parse(txt2)
//////////2
  const ctx = document.getElementById('myChart');
  var name = JSON.parse('{{ y| tojson }}');
  console.log(name)
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: x,
      datasets: [{
        label: 'Ventas',
        data: b,
        borderWidth: 1
      
    
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
   



<script>
  var arradata=new Array();
var a=new Array();
var archivoTxt= new XMLHttpRequest();
var fileRuta='static/js/datosgrafico.json'
//var fileRuta='src/pruebajs.json'
archivoTxt.open("GET",fileRuta,false);
archivoTxt.send(null);
var txt = archivoTxt.responseText;
for(var i=0;i<txt.length;i++){
    arradata.push(txt[i]);
}
var b = JSON.parse(txt)



var arradata22=new Array();
var a22=new Array();
var archivoTxt22= new XMLHttpRequest();
var fileRuta22='static/js/datosgraficox.json'
//var fileRuta='src/pruebajs.json'
archivoTxt22.open("GET",fileRuta2,false);
archivoTxt22.send(null);
var txt22 = archivoTxt2.responseText;
for(var i=0;i<txt2.length;i++){
    arradata22.push(txt22[i]);
}
var x2 = JSON.parse(txt22)
//////////2
  const ctx2 = document.getElementById('myChart2');
  var name2 = JSON.parse('{{ y| tojson }}');
  console.log(name2)
  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: x,
      datasets: [{
        label: 'Ventas',
        data: b,
        borderWidth: 1
      
    
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>






<script>
  var arradata=new Array();
var a=new Array();
var archivoTxt= new XMLHttpRequest();
var fileRuta='static/js/datosgrafico.json'
//var fileRuta='src/pruebajs.json'
archivoTxt.open("GET",fileRuta,false);
archivoTxt.send(null);
var txt = archivoTxt.responseText;
for(var i=0;i<txt.length;i++){
    arradata.push(txt[i]);
}
var b = JSON.parse(txt)



var arradata222=new Array();
var a222=new Array();
var archivoTxt222= new XMLHttpRequest();
var fileRuta222='static/js/datosgraficox.json'
//var fileRuta='src/pruebajs.json'
archivoTxt222.open("GET",fileRuta2,false);
archivoTxt222.send(null);
var txt222 = archivoTxt2.responseText;
for(var i=0;i<txt222.length;i++){
    arradata222.push(txt222[i]);
}
var x22 = JSON.parse(txt22)
//////////2
  const ctx22 = document.getElementById('myChart3');
  var name22 = JSON.parse('{{ y| tojson }}');
  console.log(name22)
  new Chart(ctx22, {
    type: 'doughnut',
    data : {
  labels: [
    'Ventas',
    'Por Cobrar',
    'Gastos'
  ],
  datasets: [{
    label: '',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
  }]
}});
</script>

{% endblock%}