{% extends "prototipo.html" %}

{% block content %}
<div><button class="btn btn-primary" onclick="printDiv('dato2','Inventario Alimento')"><i class="fas fa-solid fa-print"></i>Imprimir</button></div>

<div id="dato2">

<center>
<h1>INVENTARIO ALIMENTO ABA</h1>
</center>

 <table class="table table-striped table-hover table-bordered bg-white table-sm " class="wrapper-table" class="jumbotron">
                    <thead>
                    
                      <tr class="table-primary ">

                        <td  style="text-align: center;" valign="middle"><h5 >ALIMENTO</h5></td>  
                        <td  style="text-align: center;" valign="middle"><h5 >CANTIDAD</h5></td>
                        
                       <!-- <td style="text-align: center;">Operacion</td>-->
                      </tr>
                    </thead>
                    
                    {% for table in inv_aba %}
                    <tr>
                       

                            <td  style="text-align: center;" >{{table.1}}</font></td>
                            <td  style="text-align: center;" >{{table.2}}</font></td>
                            
                              
                        
                            <div class="row-md-7">    
                       <!-- <a href="/edit/{{table.0}}" class="btn btn-sm btn-secondary">editar</a>-->
                      <!-- <td> </td>
                        <td>
                            <center>
                            <a href="/bancos/detalle/{{table.4}}"  class="btn btn-sm btn-success ">Detalle</a>
                        </center>
                    </td>-->
                       <!--  <td>
                            <center>
                            <a href="/delete/{{table.0}}" class="btn btn-sm btn-danger btn-delete">borrar</a>
                            </center>
                        </td> -->
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    

                </table>





              </div>

                <script>
    
    
                  var doc = new jsPDF();
              
              function saveDiv(divId, title) {
               doc.fromHTML(`<html><head><title>${title}</title></head><body>` + document.getElementById(divId).innerHTML + `</body></html>`);
               doc.save('div.pdf');
              }
              
              function printDiv(divId,
                title) {
              
                let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
              
                mywindow.document.write(`<html><head><title>${title}</title>`);
                mywindow.document.write('</head><body >'+`<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">`);
               //mywindow.document.write(`<link rel="stylesheet" type="text/css" href="../static/css/main.css" media="all" media="print">`);
                mywindow.document.write(document.getElementById(divId).innerHTML);
                mywindow.document.write('</body></html>');
              
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
              
                mywindow.print();
                mywindow.close();
              
                return true;
              } 
              </script>
              <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
              <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
{% endblock%}