{% extends "prototipo.html" %}

{% block content %}
<div class="row">
   <!-- Tabla formulas-->
   {% set i=namespace() %}
      {% set i.counter=0 %}
      {% set j=namespace() %}
      {% set j.counter=0 %}
{% for val in validacion %}
{% set j.counter=0 %}
    {% if val == 1 %}
    <div class="col-xl-3 ">
        
                        
                            <table class="table-planta-aba table-striped table-hover table-bordered  table-sm"  class="jumbotron">
                                <thead>
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1 mt-4">
                                        {{alimento[i.counter]}} </div>
                                  <tr class="table-success ">
                                
                                                          
                                    <td  style="text-align: center;" valign="middle"><h5 >PRODUCTO</h5></td>  
                                    <td  style="text-align: center;" valign="middle"><h5 >CANTIDAD</h5></td>  
                                   
                                   <!-- <td style="text-align: center;">Operacion</td>-->
                                  </tr>
                                </thead>
                {% for materia in range(longitud_matriz) %}

                {% if materia_prima[j.counter,i.counter] == "" %}

                {% else %}

                
                                        
                                           <tr> 
                                            <td> <h6>{{materia_prima[j.counter,i.counter] }}   </h6></td>
                                        <td><h6>  {{ kilos[j.counter,i.counter]}}</h6></td>
                                </tr>
                                
                                
                                    {% endif %}
                                    {% set j.counter=j.counter + 1 %}
                                {% endfor %}
                                </div>
                               
                            
                    
    
    

               
               
       

    {% endif %}




{% set i.counter=i.counter + 1 %}

{% endfor %}
</div>
</div>  



   



{% endblock%}