{% extends "prototipo.html" %}

{% block content %}
<button class="btn btn-primary" onclick="printDiv('mp','proveedores')"><i class="fas fa-solid fa-print"></i>Imprimir</button>

<div id="mp">

<center>
<h1 style="color:blue">  PROVEEDORES</h1>
</center>

 <table class="table table-striped table-hover table-bordered bg-white table-sm " class="wrapper-table" class="jumbotron">
                    <thead>
                    
                      <tr class="table-primary " style="white-space: nowrap !important;">

                        <td  style="text-align: center;" valign="middle"><h5 >PROVEEDOR</h5></td>  
                        <td  style="text-align: center;" valign="middle"><h5 >RIF</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >PRODUCTO</h5></td> 
                        <td  style="text-align: center;" valign="middle"><h5 >DIRECCION</h5></td>  
                        <td  style="text-align: center;" valign="middle"><h5 >TELEFONO</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >CONTACTO</h5></td>  
                          
                         
                       <!-- <td style="text-align: center;">Operacion</td>-->
                      </tr>
                    </thead>
                    
                    {% for table in proveedores %}
                    <tr style="white-space: nowrap !important;">
                       

                            
                            <td  style="text-align: center;" >{{table.1}}</font></td>
                            <td  style="text-align: center;" >{{table.2}}</font></td>
                            <td  style="text-align: center;" >{{table.3}}</font></td>
                            <td  style="text-align: center;" >{{table.4}}</font></td>
                            <td  style="text-align: center;" >{{table.5}}</font></td>
                            <td  style="text-align: center;" >{{table.6}}</font></td>
                              
                        
                            <div class="row-md-7">    
                      
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    

                </table>

</div>


<script>
      function printDiv(divId,
      title) {
    
      let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
    
      mywindow.document.write(`<html><head><title>${title}</title>`);
      mywindow.document.write('</head><body >'+`<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">`);
     //mywindow.document.write(`<link rel="stylesheet" type="text/css" href="../static/css/main.css" media="all" media="print">`);
      mywindow.document.write(document.getElementById(divId).innerHTML);
      mywindow.document.write('</body></html>');
    
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
    
      mywindow.print();
      mywindow.close();
    
      return true;
    }    
</script>

{% endblock%}