{% extends "prototipo.html" %}

{% block content %}
<center>
<h1 style="color:blue">Calcular Gastos Operativos</h1>
</center>
<div class="row ml-4">
    


<div class="col-3 col-md-6 mb-4 tarjeta-cia" >
    <div class="card border-left-success shadow h-100 py-2 tarjeta-cia">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Total Gastos</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{gastos_total}} $</div>
                </div>
                <div class="col-auto">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/calcular_costos_opterativos" method="POST">
<div class="form-group">
    <h6>Desde </h6>
  <input type="date" class="form-control" id="fecha1" name="fecha1" placeholder="fecha"
value="today"
min="2018-01-01" max="2060-12-31">
 <!-- <input type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha">-->
</div>

<div class="form-group">
    <h6>Hasta </h6>
  <input type="date" class="form-control" id="fecha2" name="fecha2" placeholder="fecha"
value="today"
min="2018-01-01" max="2060-12-31">
 <!-- <input type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha">-->
</div>
<div class="form-group"> 
    <h6>Kg a procesar</h6> 
    <input type="text" class="form-control" id="kg" name="kg" placeholder="kg">                  
  </div>
<div class="form-group">
   
    <button class=" btn btn-sm btn-primary" type="submit">Calcular</button>
   
</div>
</form>
</div>

 <table class="table table-striped table-hover table-bordered bg-white table-sm ml-4" class="wrapper-table" class="jumbotron">
                    <thead>
                    
                      <tr class="table-primary ">

                        <td  style="text-align: center;" valign="middle"><h5 >FECHA</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >FACTURA</h5></td>  
                        <td  style="text-align: center;" valign="middle"><h5 >NOMBRE</h5></td>  
                        <td  style="text-align: center;" valign="middle"><h5 >DESCRIPCION</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >BOLIVARES</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >TASA</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >BANCO</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >REFERENCIA</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >MONTO $</h5></td>  
                         
                       <!-- <td style="text-align: center;">Operacion</td>-->
                      </tr>
                    </thead>
                    
                    {% for table in gastos %}
                    <tr>
                       

                            
                            <td  style="text-align: center;" >{{table.6}}</font></td>
                            <td  style="text-align: center;" >{{table.1}}</font></td>
                            <td  style="text-align: center;" >{{table.7}}</font></td>
                            <td  style="text-align: center;" >{{table.2}}</font></td>
                            <td  style="text-align: center;" >{{table.8}}</font></td>
                            <td  style="text-align: center;" >{{table.9}}</font></td>
                            <td  style="text-align: center;" >{{table.10}}</font></td>
                            <td  style="text-align: center;" >{{table.11}}</font></td>
                            <td  style="text-align: center;" >{{table.3}}</font></td>
                              
                        
                            <div class="row-md-7">    
                      
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    

                </table>


{% endblock%}