{% extends "layout.html" %}

{% block content %}
<!--<script src="{{url_for('static', filename='js/prueba.js')}}"></script>-->
<!--<script src="{{url_for('static', filename='js/datosgrafico.json')}}"></script>-->
<!--<script src="{{url_for('static', filename='js/texto.txt')}}"></script>-->
<!-- <script src="{{url_for('static', filename='../src/pruebajs.json')}}"></script>-->
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->


  <div class="row">
    <div class="col-md-2 " >
      <div class="d-flex" >  
        <div id="sidebar-container" class="bg-primaty">
          <div class="logo">
            <h4 ><i class="icon ion-md-apps"></i>Hola</h4> 
            <h4 ><i class="icon ion-md-apps"></i>mundo</h4> 
          </div>
        </div>  
      </div>
    </div>    
    <div class="col-8">
       
          <div class="felx2 offset-md-"id="sidebar-container" >
            <h4 ><i class="icon ion-md-apps"></i>Hola 2</h4> 
          </div> 
        
    </div>
  </div>



{% endblock%}