{% extends "prototipo.html" %}

{% block content %}



<div class="row-md-12 offset-md-0">
    
<form class="form-signin f" action="/calculo_utilidad" method="POST">
    <div class="row ml-4 pl-4 pb-4 mt-4">
      
      <div class="col-xl-3 col-md-6 mb-4 ">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              fecha inicial</div>
                          
                      </div>
                      <div class="form-group">
                        <h6>Desde </h6>
                      <input type="date" class="form-control" id="fecha1" name="fecha1" placeholder="fecha"
                    value="today"
                    min="2018-01-01" max="2060-12-31">
                     <!-- <input type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha">-->
                    </div>
                  </div>
              </div>
          </div>
    </div> 
  
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            fecha final</div>
                        
                    </div>
                    <div class="form-group">
                      <h6>Hasta </h6>
                    <input type="date" class="form-control" id="fecha2" name="fecha2" placeholder="fecha"
                  value="today"
                  min="2018-01-01" max="2060-12-31">
                   <!-- <input type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha">-->
                  </div>
                </div>
            </div>
        </div>
  </div> 
  
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Iniciar Calculo
                            </div>
                            
                            <center>
                                <button class=" btn btn-sm btn-primary form-boton" type="submit">Agregar</button>
                                </center>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </form>
  </div> 





{% endblock%}