{% extends "prototipo.html" %}

{% block content %}
<button class="btn btn-primary" onclick="printDiv('mp','valor_materiaprima')"><i class="fas fa-solid fa-print"></i>Imprimir</button>

<div id="mp">

<center>
<h1 style="color:blue">  VALOR DE LA MATERIA PRIMA EN DEPOSITO</h1>
</center>
<div class="row ml-4">
    


<div class="col-3 col-md-6 mb-4 tarjeta-cia" >
    <div class="card border-left-success shadow h-100 py-2 tarjeta-cia">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        VALOR DE MATERIA PRIMA</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{valor_mp}} $</div>
                </div>
                <div class="col-auto">
                    
                </div>
            </div>
        </div>
    </div>
</div>


</div>
 <table class="table table-striped table-hover table-bordered bg-white table-sm " class="wrapper-table" class="jumbotron">
                    <thead>
                    
                      <tr class="table-primary ">

                        <td  style="text-align: center;" valign="middle"><h5 >PRODUCTO</h5></td>  
                        <td  style="text-align: center;" valign="middle"><h5 >COSTO</h5></td>
                        <td  style="text-align: center;" valign="middle"><h5 >KILOS</h5></td>  
                         
                       <!-- <td style="text-align: center;">Operacion</td>-->
                      </tr>
                    </thead>
                    
                    {% for table in inv_aba %}
                    <tr>
                       

                            
                            <td  style="text-align: center;" >{{table.1}}</font></td>
                            <td  style="text-align: center;" >{{table.2}}</font></td>
                            <td  style="text-align: center;" >{{table.3}}</font></td>
                              
                        
                            <div class="row-md-7">    
                      
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    

                </table>

</div>


<script>
      function printDiv(divId,
      title) {
    
      let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
    
      mywindow.document.write(`<html><head><title>${title}</title>`);
      mywindow.document.write('</head><body >'+`<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">`);
     //mywindow.document.write(`<link rel="stylesheet" type="text/css" href="../static/css/main.css" media="all" media="print">`);
      mywindow.document.write(document.getElementById(divId).innerHTML);
      mywindow.document.write('</body></html>');
    
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
    
      mywindow.print();
      mywindow.close();
    
      return true;
    }    
</script>

{% endblock%}